# Main
LOG_LEVEL=INFO

# https://telegram.me/BotFather
BOT_TOKEN=your_telegram_token

# https://platform.openai.com/api-keys
OPENAI_TOKEN=your_openai_token

SUPERUSER_TG_ID=telegram_user_id

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hmph-gpt
POSTGRES_PASSWORD=password
POSTGRES_DB=hmph-gpt

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
